<div class="spot-list">
  <div class="spot-header d-md-flex justify-content-between align-items-center">
    <h1>Spots</h1>

    <%= simple_form_for :search, url: "/spots", method: "GET" do |f| %>
      <%= f.input :p, label: "Search for Spots" %>
      <%= f.button :submit, label: "Search" %>
    <% end %>
    <%= link_to  new_spot_path, class: "add-new-spot mr-5" do %>
      <i class="fas fa-plus-circle fa-2x"></i>
    <% end %>
  </div>

  <% @spots.each do |spot| %>
    <div class="spot-card">
      <div class="spot-card__meta d-flex justify-content-between align-items-center">
        <h4><%= spot.location %></h4>
        <h4><%= spot.latitude %></h4>
        <h4><%= spot.longitude %></h4>
        <% if current_user.uspots.map { |i| i.spot_id }.include?(spot.id)%>
          <a href='${spot.id}'>Go to Windfinder</a>
        <% else %>
          <%= link_to  "Add to my spots", user_uspots_path(current_user, spot_id: spot), method: :post, class: "btn btn-secondary" %>
        <% end %>
      </div>
      <p class="spot_url"><%= spot.url %></p>
    </div>
  <% end %>

  <br>
</div>
