<div class="container">
  <h1>Schmücke nochmal aus</h1>
  <%= simple_form_for [current_user, @article] do |f| %>
  <div class="d-flex justify-content-between mb-3">
  <%= f.input :title, label: 'Titel  ' %>
  <%= f.input :date, :as => :date, :input_html => { :class => 'date_picker' }, label: 'Am ' %>
  <%= f.input :location, label: "Wo?" %>
  </div>
  <%= f.input :description,required: true, :class => "w-100" %>
  
  <%= f.text_area :content,required: true, :class => "w-100", :rows => 20 %>
  <%=  tinymce %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
