
<div class="box ">
  <h1>Articles & Posts</h1>
 <hr>
 <% if @articles.empty? %>
   <p>If there are no posts yet - create an account and tell us about your last session!</p>
 <% end %>
  <% @articles.each do |article|  %>
  <%= link_to user_article_path(article.user_id, article), class: "link " do  %>
    <div class="article-show d-flex mt-2 align-items-center post-card">
      <div class="content flex-grow-1">
        <h5 class="writer"><%= "#{article.user.first_name} #{article.user.last_name}" %></h4>
        <h3 class="title"><%= article.title %></h3>
        <h4 class="description"><%= article.description %></h4>
        <span class="keyword"><%= article.keyword.map{|k| k.word}.join(', ') %></span>

      </div>
      <div class="">
        <% if article.photo_url %>
        <%= cl_image_tag article.photo_url, class:"image", overflow: :hidden %>
        <% else %>
        <%= image_tag 'https://i.pinimg.com/474x/33/0e/b4/330eb4f352cd74b3787248205526aec9.jpg',class:'image', overflow: :hidden  %>
        <% end %>

      </div>
    </div>
    <% end %>
  <% end %>
</div>

<!-- <div class="container mt-5">
  <h3> New posts</h3>
  <% @articles.each do |article|  %>

    <div class="card article d-flex align-items-center">
      <div class="article-details flex-grow-1">
        <% article.keyword.each do |k| %>
        <h5><%= k.word %></h5>
        <% end %>

        <%= link_to article.title, user_article_path(article.user_id, article), class: "link stretched-link " %>
        <h6><%= "#{article.user.first_name} #{article.user.last_name}" %></h6>
      </div>
  <%= cl_image_tag article.photo_url, height: 100, width: 100, crop: :fill if article.photo_url %>
      <h6><%= %></h6>
    </div>

  <hr>
<% end %>
</div> -->
