
<div class="articles-index container ">
  <h1>Articles & Posts</h1>
 <hr>
 <section class="surfposts" id="surfposts">
   <ul>
     <% @articles[0..5].each do |article|  %>
     <%= link_to user_article_path(article.user_id, article), class: "link " do  %>
       <li>
         <div class="image-title">
           <figure>
             <!-- Photo by Quentin Dr on Unsplash -->
             <% if article.photo_url %>
             <%= cl_image_tag article.photo_url, class:"image", overflow: :hidden %>
             <% else %>
             <%= image_tag 'https://i.pinimg.com/474x/33/0e/b4/330eb4f352cd74b3787248205526aec9.jpg',class:'image', overflow: :hidden  %>
             <% end %>

           </figure>
         </div>
         <div class="text">
           <h3><%= article.title%></h3>
           <p> <%= article.description.truncate(130)%></p>
           <div class="keywords">
             <% article.keyword.each do |k| %>
              <span ><%= k.word %></span>
             <% end %>
           </div>
         </div>
     </li>
     <% end %>
     <% end %>
   </ul>
 </section>
</div>

<!-- <div class="container mt-5">
  <h3> New posts</h3>
  <% @articles.each do |article|  %>

    <div class="card article d-flex align-items-center">
      <div class="article-details flex-grow-1">
        <% article.keyword.each do |k| %>
        <h5><%= k.word %></h5>
        <% end %>

        <%= link_to article.title, user_article_path(article.user_id, article), class: "link stretched-link " %>
        <h6><%= "#{article.user.first_name} #{article.user.last_name}" %></h6>
      </div>
  <%= cl_image_tag article.photo_url, height: 100, width: 100, crop: :fill if article.photo_url %>
      <h6><%= %></h6>
    </div>

  <hr>
<% end %>
</div> -->
